<section class="comments">
  <div class="canvas" id="commits">
      <h2>Отзывы</h2>
      <div class="block">
          <div class="comment"
          *ngFor="let comment of commentsList">
            <h3 id="Name-user">{{comment.name}}</h3>
            <span id="date">{{ comment.date | date:'short':null:'ru' }}</span>
            <p id="text-user">
              {{comment.text}}
            </p>
          </div>
          <button class="btn" routerLink="/comments">
            <h4>Посмотреть больше отзывов</h4>
          </button>
          <button class="btn r" routerLink="/comments/add-feedback">
            <h4>Написать отзыв</h4>
          </button>
      </div>
    </div>
</section>
