<header [ngClass]="{smallto: decreased}">
  <div class="top-line" id="start" [ngClass]="{smaller: decreased}">
      <a id="link-logo" routerLink="/home"><img class="logotype" src="assets/img/logo-komp.svg" alt="logo-komp"></a>
      <nav class="header_nav">
          <ul>
              <li><a (click)="toAnchor('services')">Услуги</a></li>
              <li><a (click)="toAnchor('contacts')">Контакты</a></li>
              <li><a [routerLink]="['/comments']" routerLinkActive="linkactive">Отзывы</a></li>
              <li><a [routerLink]="['/about']" routerLinkActive="linkactive">О нас</a></li>
          </ul>
      </nav>
      <button (click)="stopedScrolling()"
        [ngClass]="{active: toggle}"
      class="hamburger hamburger--spin" type="button" >
      <span class="hamburger-box">
              <span class="hamburger-inner"></span>
          </span>
      </button>
  </div>

  <div class="plate" [@stand]
  *ngIf="toggle">
    <ul class="slideMenu">
        <li><a (click)="toAnchor('services'); stopedScrolling()">Услуги</a></li>
        <li><a (click)="toAnchor('contacts'); stopedScrolling()">Контакты</a></li>
        <li><a [routerLink]="['/comments']" (click)="stopedScrolling()">Отзывы</a></li>
        <li><a [routerLink]="['/about']" (click)="stopedScrolling()">О нас</a></li>
        <li>
          <div class="up-block" (click)="stopedScrolling()">
            <button class="slideUp" type="button"></button>
          </div>
        </li>
    </ul>
  </div>
</header>


<div id="main-layout">
  <router-outlet></router-outlet>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>

