<footer class="footer">
  <div class="canvas">
      <!-- <div class="about-company block" id="AR_1">
          <h3 class="column-name">О компании</h3>
          <button class="arrow-down" type="menu">
              <span class="arrow-down-box">
                  <span class="arrow-down-inner"></span>
              </span>
          </button>
          <ul class="links-to-company-view links">
              <li><a href="">О нас</a></li>
              <li><a href="">Цели компании</a></li>
              <li><a href="">История</a></li>
              <li><a href="">Достижения</a></li>
          </ul>
      </div> -->
      <!-- <ul class="links-to-company-view links actived_slideDown">
          <li><a href="">О нас</a></li>
          <li><a href="">Цели компании</a></li>
          <li><a href="">История</a></li>
          <li><a href="">Достижения</a></li>
      </ul> -->
      <div class="menu-website block" id="AR_2">
          <h3 class="column-name">Карта сайта</h3>
          <button class="arrow-down" type="menu">
              <span class="arrow-down-box">
                  <span class="arrow-down-inner"></span>
              </span>
          </button>
          <ul class="menu-site links">
              <li><a (click)="toAnchor('welcome-start')" class="goto">Главная</a></li>
              <li><a (click)="toAnchor('services')"><li>Услуги и цены</a></li>
              <li><a routerLink="/comments"><li>Отзывы</a></li>
              <li><a (click)="toAnchor('contacts')"><li>Контакты</a></li>
              <li><a routerLink="/about"><li>О нас</a></li>
          </ul>
      </div>
      <!-- <ul class="menu-site links actived_slideDown">
          <li><a href=""><li>Главная</a></li>
          <li><a href=""><li>Услуги и цены</a></li>
          <li><a href=""><li>Отзывы</a></li>
          <li><a href=""><li>Контакты</a></li>
          <li><a href=""><li>О нас</a></li>
      </ul> -->
      <div class="social-links block" id="AR_3">
          <h3 class="column-name">Мы в соц. сетях</h3>
          <button class="arrow-down" type="menu">
              <span class="arrow-down-box">
                  <span class="arrow-down-inner"></span>
              </span>
          </button>
          <ul class="links-to-SM links">
              <li><a href="">
                  <picture>
                      <source srcset="src/social-media/whatsapp.webp" type="image/webp">
                      <img src="src/social-media/whatsapp.png" alt="" width="20px" height="20px"/>
                  </picture>
                  WhatsApp</a></li>
              <li><a href="">
                  <picture>
                      <source srcset="src/social-media/telegram.webp" type="image/webp">
                      <img src="src/social-media/telegram.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Telegram</a></li>
              <li><a href="">
                  <picture>
                      <img src="src/social-media/vk.svg" alt="" width="20px" height="20px"/>
                  </picture>
                  ВКонтакте</a></li>
              <li><a href="">
                  <picture>
                      <source srcset="src/social-media/instagram-sketched.webp" type="image/webp">
                      <img src="src/social-media/instagram-sketched.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Instagram</a></li>
              <li><a href="">
                  <picture>
                      <img src="src/social-media/facebook.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Facebook</a></li>
          </ul>
      </div>
      <!-- <ul class="links-to-SM links actived_slideDown">
          <li><a href="">WhatsApp
              <picture>
                  <source srcset="src/social-media/whatsapp.webp" type="image/webp">
                  <img src="src/social-media/whatsapp.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Telegram
              <picture>
                  <source srcset="src/social-media/telegram.webp" type="image/webp">
                  <img src="src/social-media/telegram.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">ВКонтакте
              <picture>
                  <img src="src/social-media/vk.svg" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Instagram
              <picture>
                  <source srcset="src/social-media/instagram-sketched.webp" type="image/webp">
                  <img src="src/social-media/instagram-sketched.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Facebook
              <picture>
                  <img src="src/social-media/facebook.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
      </ul> -->
  </div>
</footer>
<!-- Component-end footer-main -->

<!-- Component footer-extra -->
<footer class="footer-2">
  <div class="canvas">
      <div class="rules">
          <a href="">@Все права защищены</a>
          <a href="">Политика конфендициальности</a>
      </div>
      <div class="author">Автор: @Leonid - дизайн и верстка</div>
  </div>
  <!-- Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
</footer>
<!-- Component-end footer-extra -->
