<footer class="footer">
  <div class="canvas">
      <!-- <div class="about-company block" id="AR_1">
          <h3 class="column-name">О компании</h3>
          <button class="arrow-down" type="menu">
              <span class="arrow-down-box">
                  <span class="arrow-down-inner"></span>
              </span>
          </button>
          <ul class="links-to-company-view links">
              <li><a href="">О нас</a></li>
              <li><a href="">Цели компании</a></li>
              <li><a href="">История</a></li>
              <li><a href="">Достижения</a></li>
          </ul>
      </div> -->
      <!-- <ul class="links-to-company-view links actived_slideDown">
          <li><a href="">О нас</a></li>
          <li><a href="">Цели компании</a></li>
          <li><a href="">История</a></li>
          <li><a href="">Достижения</a></li>
      </ul> -->
      <div class="menu-website block" id="AR_2">
          <h3 class="column-name">Карта сайта</h3>
          <div class="up-block" (click)="changed()">
            <button class="slideUp" type="button" [class.rotated]="toggle1"></button>
          </div>
          <ul class="menu-site links">
              <li><a (click)="toAnchor('welcome-start')" class="goto">Главная</a></li>
              <li><a (click)="toAnchor('services')" class="goto">Услуги и цены</a></li>
              <li><a routerLink="/comments" class="goto">Отзывы</a></li>
              <li><a (click)="toAnchor('contacts')" class="goto">Контакты</a></li>
              <li><a routerLink="/about" class="goto">О нас</a></li>
          </ul>
      </div>
      <!-- <ul class="menu-site links actived_slideDown">
          <li><a href=""><li>Главная</a></li>
          <li><a href=""><li>Услуги и цены</a></li>
          <li><a href=""><li>Отзывы</a></li>
          <li><a href=""><li>Контакты</a></li>
          <li><a href=""><li>О нас</a></li>
      </ul> -->
      <div class="social-links block" id="AR_3">
          <h3 class="column-name">Мы в соц. сетях</h3>
          <div class="up-block" (click)="changed()">
            <button class="slideUp" type="button" [ngClass]="{rotated:toggle2}"></button>
          </div>
          <ul class="links-to-SM links" [class.slideDownList]="toggle2">
              <li class="goto"><a href="https://wa.me/79109457564?text=Здравствуйте!+Я+по+поводу+" target="_blanck">
                  <picture>
                      <source srcset="assets/img/social-media/whatsapp.webp" type="image/webp">
                      <img src="assets/img/social-media/whatsapp.png" alt="" width="20px" height="20px"/>
                  </picture>
                  WhatsApp</a></li>
              <li class="goto"><a href="https://t.me/joinchat/LrXuX1fdJIO9Oj5xEFH_mw" target="_blanck">
                  <picture>
                      <source srcset="assets/img/social-media/telegram.webp" type="image/webp">
                      <img src="assets/img/social-media/telegram.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Telegram</a></li>
              <li class="goto"><a href="https://vk.com/kompfoto" target="_blanck">
                  <picture>
                      <img src="assets/img/social-media/vk.svg" alt="" width="20px" height="20px"/>
                  </picture>
                  ВКонтакте</a></li>
              <li class="goto"><a href="https://www.instagram.com/komp_tula/" target="_blanck">
                  <picture>
                      <source srcset="assets/img/social-media/instagram-sketched.webp" type="image/webp">
                      <img src="assets/img/social-media/instagram-sketched.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Instagram</a></li>
              <li class="goto"><a href="https://www.facebook.com/%D0%9A%D0%9E%D0%9C%D0%9F-100517064817264" target="_blanck">
                  <picture>
                      <img src="assets/img/social-media/facebook.png" alt="" width="20px" height="20px"/>
                  </picture>
                  Facebook</a></li>
          </ul>
      </div>
      <!-- <ul class="links-to-SM links actived_slideDown">
          <li><a href="">WhatsApp
              <picture>
                  <source srcset="src/social-media/whatsapp.webp" type="image/webp">
                  <img src="src/social-media/whatsapp.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Telegram
              <picture>
                  <source srcset="src/social-media/telegram.webp" type="image/webp">
                  <img src="src/social-media/telegram.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">ВКонтакте
              <picture>
                  <img src="src/social-media/vk.svg" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Instagram
              <picture>
                  <source srcset="src/social-media/instagram-sketched.webp" type="image/webp">
                  <img src="src/social-media/instagram-sketched.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
          <li><a href="">Facebook
              <picture>
                  <img src="src/social-media/facebook.png" alt="" width="20px" height="20px"/>
              </picture></a></li>
      </ul> -->
      <div class="contacts block">
        <h4>Связатся с нами:</h4>
        <div id="left-shift">
          <p class="text-info-plus">Тел:
            <a class="link-plus" href="tel:+7(953)970-01-42">+7(953)970-01-42</a>
          </p>
          <p id="copyText" class="text-info-plus">Email:
            <span id="email-link"
              ngxClipboard [cbContent]="'tom701@rambler.ru'">tom701@rambler.ru
            </span>
          </p>
          <p class="text-info-plus" id="adress">
            Адрес:
            <a class="link-plus"  id="adress-link"
            href="https://yandex.ru/maps/15/tula/?ll=37.611946%2C54.175169&mode=search&oid=1605727188&ol=biz&z=16" target="_blank"
            >г. Тула   ул. Тимирязева, д.97</a></p>
        </div>
      </div>
  </div>
</footer>
<!-- Component-end footer-main -->

<!-- Component footer-extra -->
<footer class="footer-2">
  <div class="canvas">
      <div class="rules">
          <a href="">@Все права защищены</a>
          <a href="">Политика конфендициальности</a>
      </div>
      <div class="author">Автор сайта: <a href="https://www.linkedin.com/in/leonid-grudanov/" target="_blanck">@NoLimit</a></div>
  </div>
  <!-- Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
</footer>
<!-- Component-end footer-extra -->
