footer {
  .canvas{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 100px 20px;
    .actived_slideDown li{
      font-size: 20px;
      margin: 10px 0px;
      transition-duration: 200ms;
      &:hover{
        transition-duration: 200ms;
        font-size: 21px;
      }
    }
    .block{
      display: flex;
      flex-basis: calc(100% / 3);
      flex-flow: column nowrap;
      align-items:flex-start;
      padding-left: 20px;
      .links{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.05em;
        li{
          transition-duration: 300ms;
          color:#403D7A;
          margin: 5px 0px;
          &:hover{
            transition-duration: 300ms;
            font-size: 20px;
          }
          .goto{
            cursor: pointer;
          }
        }
      }
    }
    .column-name{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1em;
      color:rgba(0, 0, 0, 0.8);
      padding: 10px 0px;
    }
  }
.links-to-company-view.links.actived_slideDown,
.menu-site.links.actived_slideDown,
.links-to-SM.links.actived_slideDown{
    display: none;
    padding-right: 30px;
    text-align: right;
}
}
// footer 2
.footer-2 .canvas{
  background-color:rgb(53, 52, 52);
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  .rules{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    a,
    .author{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color:#b6b5b5;
    }
  }
}
