footer {
  .canvas{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 100px 0px;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 20px;
    letter-spacing: 0.1em;
    @media all and (max-width:980px){
      padding: 10px 50px 0px;
    }
    @media all and (max-width:820px){
      padding: 10px 10px 0px;
    }
    @media all and (max-width:600px){
      flex-flow: column nowrap;
    }
    .actived_slideDown li{
      font-size: 20px;
      margin: 10px 0px;
      transition-duration: 200ms;
      &:hover{
        transition-duration: 200ms;
        font-size: 21px;
      }
    }
    .block{
      display: flex;
      flex-basis: calc(100% / 3);
      flex-flow: column nowrap;
      align-items:flex-start;
      padding-left: 20px;
      margin-bottom: 10px;
      position: relative;
      transition-duration: 400ms;
      @media all and (max-width:600px){
        padding-left: 10px;
        &.contacts{
          align-self: center;
        }
      }
      >h4{
        padding: 10px 0px;
      }
      .links{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.05em;
        .goto{
          cursor: pointer;
          color: #26235f;
          transition-duration: 200ms;
          margin: 10px 0px;
          a{
            color: #26235f;
            &:hover{
              color: rgba(0, 0, 0, 0.747);
            }
          }
          &:hover{
            transition-duration: 200ms;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.747);
          }
        }
      }
      #left-shift{
        .text-info-plus{
          .link-plus{
            color: #26235f;
            &:hover{
              text-decoration: underline;
            }
          }
          #email-link{
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
          color: #26235f;
          padding: 5px;
          white-space: nowrap;
          @media all and (max-width:900px){
            white-space: normal;
          }
        }
        #adress,
        #adress-link{
          &:hover{
            #adress-link{
              text-decoration: underline;
            }
          }
        }
      }
      .up-block{
        display: none;
        @media all and (max-width:600px){
          display: block;
        }
        width: 80px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        .slideUp{
          display: block;
          position: absolute;
          border: none;
          background-color: transparent;
          top: 50%;
          right: 43%;
          &::before,
          &::after{
            content: '';
            position: absolute;
            top: 0px;
            width: 30px;
            height: 5px;
            border-radius: 15px;
            border: none;
            background-color: #403D7A;
            transform-origin: center;
            transition-duration: 200ms;
          }
          &::after{
            right: 2px;
            transform: rotate(30deg);
          }
          &::before{
            left: 2px;
            transform: rotate(-30deg);
          }
          &.rotated{
            &::after{
              transform: rotate(-30deg);
            }
            &::before{
              transform: rotate(30deg);
            }
          }
        }
      }
    }
    .column-name{
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1em;
      color:rgba(0, 0, 0, 0.8);
      padding: 10px 0px;
      @media all and (max-width:720px){
        font-size: 16px;
      }
      @media all and (max-width:600px){
        font-size: 20px;
      }
    }
  }
  .links-to-company-view.links.actived_slideDown,
  .menu-site.links.actived_slideDown,
  .links-to-SM.links.actived_slideDown{
      display: none;
      padding-right: 30px;
      text-align: right;
  }
  .arrow-down{
    display: none;
  }
}
// footer 2
footer.footer-2 {
  .canvas{
    background-color:rgb(53, 52, 52);
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    @media all and (max-width:720px){
      padding: 15px 20px;
    }
    .rules{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      a{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color:#b6b5b5;
      }
    }
    .author{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color:#b6b5b5;
    }
  }
}
