<section class="comments">
  <div class="canvas" id="commits">
    <div class="bar-top">
      <button class="btn arrow" id="back" routerLink="/">Главная</button>
      <button class="btn" id="feedback" routerLink="add-feedback">Написать отзыв</button>
      <button class="btn" id="all" (click)="pipeFilter = ''; toggle ? toggle = !toggle : toggle">Все отзывы</button>
    </div>
    <h2>отзывы о:</h2>
    <div class="up-block" (click)="toggle = !toggle">
      <button class="slideUp" type="button" [class.rotated]="toggle"></button>
    </div>
    <div class="list-block" [@slideUp]
    *ngIf="!toggle || big">
      <ul id="list-feedback">
        <li
        *ngFor="let comment of comments | sort:pipeFilter" class="feedback">
          <h4 class="titel-feedback">{{comment.name}}</h4>
          <span class="date-view">{{comment.date |date:"MM/dd/yy"}}</span>
          <p class="text-feedback">{{comment.text}}</p>
        </li>
      </ul>
    </div>

    <aside [@slide]
    *ngIf="toggle || big">
      <ul id="list">
        <li *ngFor="let item of asideList; let i=index" class="list-aside">
          <h3 class="title-list" id="{{i+1}}"
          (click)="pipeFilter = item.name; toggle = !toggle"
          [ngStyle]="{
            backgroundColor: item.name == pipeFilter ? '#403D7A' : 'rgba(251, 251, 251, 0.97)',
            color: item.name == pipeFilter ? 'rgba(251, 251, 251, 0.97)': '#403D7A'
          }"
          >{{item.title | declination | uppercase}}</h3>
        </li>
        <li class="list-aside">
          <h3 class="title-list"
          (click)="pipeFilter = 'other'; toggle = !toggle"
          [ngStyle]="{
            backgroundColor: pipeFilter == 'other' ? '#403D7A' : 'rgba(251, 251, 251, 0.97)',
            color: pipeFilter == 'other' ? 'rgba(251, 251, 251, 0.97)': '#403D7A',
            textTransform: 'uppercase'
          }"
          >Остальные</h3>
        </li>
      </ul>
    </aside>
  </div>
</section>
