<section class="comments">
  <div class="canvas" id="commits">
    <h2>Отзывы клиентов о: </h2>
    <div class="list-block">
      <ul>
        <li *ngFor="let comment of comments"
        >
          <h4>{{comment.name}}</h4>
          <span>{{comment.date |date:"MM/dd/yy"}}</span>
          <p>{{comment.text}}</p>
        </li>
      </ul>
    </div>
    <aside>
      <ul>
        <li *ngFor="let item of asideList; let i=index">
          <h3 class="title-list" id="{{i+1}}"
          [ngStyle]="{
            backgroundColor: item.name == paramsName ? '#403D7A' : 'rgba(251, 251, 251, 0.97)',
            color: item.name == paramsName ? 'rgba(251, 251, 251, 0.97)': '#403D7A'
          }"
          >{{item.title | declination | uppercase}}</h3>
        </li>
      </ul>
    </aside>
  </div>
</section>
