.comments{
  margin-top: 200px;
  .canvas{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.05em;
    margin: 80px 0px;
    padding: 5px 15px 5px 60px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 11fr;
    column-gap: 2%;
    justify-content:space-between;
    align-items: center;
    position: relative;
    h2{
      grid-column: 2;
      text-transform: uppercase;
    }
    .list-block{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column: 1;
    }
    aside{
      grid-row: 2;
      grid-column: 2;
    }
  }
}
