  .beginn{
  padding: 180px 0px 200px;
  .text1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color:#FFFFFF;
    .komp-name{
      font-family: 'IBM Plex Mono', monospace;
      font-size: 40px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      max-width: 800px;
      text-align: center;
    }
    .credo{
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 28px;
      font-style: italic;
      font-weight: normal;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      text-align: center;
      margin: 90px 0px 75px;
      max-width: 700px;
      min-height: 40px;
    }
    .down-tr{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      font-style: italic;
      letter-spacing: 0.1em;
      animation-name: jumpy;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      &:hover{
        cursor: pointer;
        animation-play-state: paused;
        .down-link{
          .down-triangle{
            transition-duration: 0.25s;
            transition-timing-function: ease-out;
            transform: translate(0px, 3px) scale(0.97);
            filter: opacity(90%) drop-shadow(0px 6px 5px rgba(0,0,0,95%));
          }
        }
      }
      #label-text{
        margin-bottom: 0.5rem;
        &:hover {
          cursor: pointer;
        }
      }
      .down-link{
        text-decoration: none;
        .down-triangle{
          max-width: 150px;
          max-height: 50px;
          filter: opacity(70%) drop-shadow(0px 6px 8px rgba(0,0,0,90%));
          transition-duration: 250ms;
          transition-timing-function: ease-out;
        }
      }
    }
  }
}

@keyframes jumpy{
    0%{
        transform: translate(0px, 0px)
    }
    100%{
        transform: translate(0px, 7px)
    }
}
