<section>
  <div class="canvas">
    <div class="information" *ngIf="serviceShowedComponent;
      else loading">
      <h3 class="heading">{{serviceShowedComponent.title}}</h3>
      <h4>Услуги и ремонт:</h4>
      <ul id="list-work">
        <li class="items" *ngFor="let item of serviceShowedComponent['types-of-jobs']">
          {{item.component}}: {{item.price}} <span class="extra">{{(item.extra)}}</span>
        </li>
      </ul>
      <p class="about">{{serviceShowedComponent.about}}</p>
    </div>
    <ng-template #loading>
      <div class="information">Загрузка данных о сервисе...</div>
    </ng-template>
    <aside class="sidebar">
      <ul>
        <li
          *ngFor="let card of mainCardInfo; let i = index"
          [routerLink]="['/services', card.name]"
          class="slip" id="{{card.name}}">
          <h3  [ngStyle]="{
            backgroundColor: card.name == paramsName ? '#403D7A' : 'rgba(251, 251, 251, 0.97)',
            color: card.name == paramsName ? 'rgba(251, 251, 251, 0.97)': '#403D7A'
          }"
          >{{card.title | uppercase}}</h3>
        </li>
      </ul>
    </aside>
  </div>
</section>
